<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Collection test suite" verbose="1">
    <parameter name="apiKey" value="putApiKeyHere"/>
    <parameter name="collectionUid" value="putExistingCollectionUidHere" />
    <parameter name="collectionName" value="putExistingCollectionNameHere" />
    <parameter name="postmanId" value="putExistingPostmanIdHere" />
    <test name="collection">
        <classes>
            <class name="testCases.CollectionsTestCases">
            </class>
        </classes>
    </test>
</suite>
